extends ./layout.jade
block contenido
    h1 Crear factura
    form(action="/crearfac", method="POST")
      h3 Cliente
      input(type="text" name="cliente" id="cliente" placeholder="Cliente" aria-describedby="sizing-addon1" style="width: 40%" class="form-control")
      h3 RFC
      input(type="text" name="rfc" id="rfc" placeholder="RFC" aria-describedby="sizing-addon1" style="width: 40%" class="form-control")
      h3 Direccion
      input(type="text" name="direccion" id="direccion" placeholder="Direccion" aria-describedby="sizing-addon1" style="width: 40%" class="form-control")
      h3 Fecha
      input(type="text" name="fecha" id="fecha" placeholder="Fecha" aria-describedby="sizing-addon1" style="width: 40%" class="form-control")
      h3 Numero de factura
      input(type="text" name="nofac" id="nofac" placeholder="No. Factura" aria-describedby="sizing-addon1" style="width: 40%" class="form-control")
      h3 Cantidad
      input(type="text" name="cant" id="cant" placeholder="Cantidad" aria-describedby="sizing-addon1" style="width: 40%" class="form-control")
      h3 Descripcion
      input(type="text" name="desc" id="desc" placeholder="Descripcion" aria-describedby="sizing-addon1" style="width: 40%" class="form-control")
      h3 Precio unitario
      input(type="text" name="punit" id="punit" placeholder="Precio unitario" aria-describedby="sizing-addon1" style="width: 40%" class="form-control")
      h3 Precio total
      input(type="text" name="ptotal" id="ptotal" placeholder="Precio total" aria-describedby="sizing-addon1" style="width: 40%" class="form-control")
      h3 Sub total
      input(type="text" name="subtotal" id="subtotal" placeholder="Subtotal" aria-describedby="sizing-addon1" style="width: 40%" class="form-control")
      br
      input(type="submit" value="Aceptar" class="btn btn-default input-lg") 
    
