extends ./layout.jade
block contenido
    body(style="background: url('http://www.walldevil.com/wallpapers/w02/600391-barney-stinson-black-background-how-i-met-your-mother-minimalistic-tie.jpg')")
      div(class="container jumbotron" style="text-align: center; margin-top: 20%; background-color: rgba(0,0,0,.5); color: white")
        h1 Bienvenidos a la pagina de facturacion 
        br
        a(type="submit" class="btn btn-info input-lg" style="margin-right: 20px" href="/iniciar") Iniciar sesion
           
        a(type="button" class="btn btn-info input-lg" href="/registrar") Registrarse 
