extends ./layout.jade
block contenido
  div(class="container" align="center" style="text-align: center; margin-top: 15%; background-color: rgba(0,0,0,.05); width: 50%")
    h1 Iniciar sesion
    br
    form(action="/sessions" method="POST")
      div(class="input-group" style="margin-left:35%")
        span(class="input-group-addon" id="basic-addon1" ) @
        input(type="text" name="email" class="form-control" style="width: 40%" id="email" placeholder="Email" aria-describedby="sizing-addon1")
      br
      div(class="input-group" style="margin-left:35%")
        span(class="input-group-addon" id="basic-addon1" style="margin-left:35%") ?
        input(type="password" name="contra" class="form-control" id="contra" placeholder="Contra" style="width: 40%" aria-describedby="sizing-addon1")
      br 
      input(type="submit" value="Entrar" class="btn btn-success input-lg" width="60%") 
    
